services:
  docmost:
    build:
      context: .
      dockerfile: Dockerfile
    image: docmost-ai:latest
    depends_on:
      - db
      - redis
    environment:
      APP_URL: 'https://wiki.n2con.com'
      APP_SECRET: '60e3083c262227a3ba4255c0e1d972ce4fd2e15eb03b31b2aaf3b74cbe4d18f6'
      DATABASE_URL: 'postgresql://docmost:yQeB3UCNKmxxVQEpLVR6@db:5432/docmost?schema=public'
      REDIS_URL: 'redis://redis:6379'
      MAIL_DRIVER: 'smtp'
      SMTP_HOST: 'smtprelay01.n2con.net'
      SMTP_PORT: 587
      SMTP_USERNAME: 'docmost@n2con.com'
      SMTP_PASSWORD: 'RmAbaotfL4ntQot6jFID'
      MAIL_FROM_ADDRESS: 'noreply@n2con.com'
      MAIL_FROM_NAME: 'N2con Wiki'
      STORAGE_DRIVER: 's3'
      AWS_S3_ACCESS_KEY_ID: '63E6F41J21FAI1YZL0BR'
      AWS_S3_SECRET_ACCESS_KEY: 'uLEIeKCzL6XHaJqdSp8ryHzabLdJcjM6VPq5suva'
      AWS_S3_REGION: 'us-west-1'
      AWS_S3_BUCKET: 'n2con-docmost'
      AWS_S3_ENDPOINT: 'https://s3.us-west-1.wasabisys.com'
    ports:
      - "3050:3000"
    restart: unless-stopped
    volumes:
      - docmost:/app/data/storage

  db:
    image: pgvector/pgvector:pg16
    environment:
      POSTGRES_DB: docmost
      POSTGRES_USER: docmost
      POSTGRES_PASSWORD: 'yQeB3UCNKmxxVQEpLVR6'
    restart: unless-stopped
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7.2-alpine
    restart: unless-stopped
    volumes:
      - redis_data:/data

  db-backup:
    image: postgres:16-alpine
    container_name: docmost-ai-db-backup
    depends_on:
      - db
    environment:
      - POSTGRES_DB=docmost
      - POSTGRES_USER=docmost
      - POSTGRES_PASSWORD=yQeB3UCNKmxxVQEpLVR6
      - DB_HOST=db
    volumes:
      - ./db_backups:/backups
      - ./db_backups/backup-docmost-ai-db.sh:/backup-script.sh:ro
    command: >
      sh -c "
      apk add --no-cache bash curl &&
      curl -fsSLO https://github.com/aptible/supercronic/releases/download/v0.2.29/supercronic-linux-amd64 &&
      mv supercronic-linux-amd64 /usr/local/bin/supercronic &&
      chmod +x /usr/local/bin/supercronic &&
      echo '0 * * * * /backup-script.sh' > /etc/crontab &&
      echo 'Running initial backup...' &&
      /backup-script.sh &&
      echo 'Starting supercronic...' &&
      exec supercronic /etc/crontab
      "
    restart: unless-stopped

volumes:
  docmost:
  db_data:
  redis_data:
